<!-- Item template -->

<div as-sortable-item-handle>

    <div class="row" onDrop="retainColor(column, card)">
        <div class="col-sm-10">
            <span id="cardContent" class="card-title">{{card.title}}</span>
        </div>
        <div class="col-sm-2">
            <a data-no-drag title="Delete card" class=" removeCard pull-right btn btn-xs" ng-click="removeCard(column, card)"><span
                    class="glyphicon glyphicon-remove"></span></a>
            <a data-no-drag title="Modify card" class=" removeCard pull-right btn btn-xs" ng-click="modifyCard(column, card)"><span
                    class="glyphicon glyphicon-pencil pull-right"></span></a>                    
            <li class="dropdown ">
              <a data-no-drag title="Change color" class="dropdown-toggle removeCard pull-right btn btn-xs" data-toggle="dropdown"> <span class="glyphicon glyphicon-tint pull-right"></span></a>
              <ul class="dropdown-menu">
                <li><a data-no-drag ng-click="changeCardColor(column, card, color='white')"><img src="images/white.jpg"></a></li>
                <li class="divider"></li>
                <li><a data-no-drag ng-click="changeCardColor(column, card, color='blue')"><img src="images/blue.jpg"></a></li>
                <li class="divider"></li>
                <li><a data-no-drag ng-click="changeCardColor(column, card, color='red')"><img src="images/red.jpg"></a></li>
                <li class="divider"></li>
                <li><a data-no-drag ng-click="changeCardColor(column, card, color='green')"><img src="images/green.jpg"></a></li>
                <li class="divider"></li>
                <li><a data-no-drag ng-click="changeCardColor(column, card, color='yellow')"><img src="images/yellow.jpg"></a></li>
              </ul>
            </li>       
        </div>      
    </div>
</div>